#### Ques 1.  Write a Python program to remove duplicates from a list.

In [1]:
l = [23,21,4,5,65,78,43,12,56,2,12,23,65,5,56]
s = list(set(l))
s

[65, 2, 4, 5, 43, 12, 78, 21, 23, 56]

#### Ques 2. Write a Python program to combine two dictionary adding values for common keys
#### d1 = {'a': 100, 'b': 200, 'c':300}
#### d2 = {'a': 300, 'b': 200, 'd':400}
#### Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [5]:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

d = Counter(d1) + Counter(d2)
print(d)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

#### Ques 3.Write a Python program to convert a tuple to a string.

In [6]:
s = ""
t=('s','k','y','sanjay','yadav','z','c','python')

for i in t:
    s = s + i
    
print(s)

skysanjayyadavzcpython

#### Ques 4.Write a Python program to remove item(s) from set

In [ ]:
s = {"apple", "banana", "cherry","orange","mango","Coconut","pear"}

s.remove("banana")
s

#### Ques 5. Write a Python program to create a symmetric difference

In [ ]:
s1 = {1, 1, 2, 3, 4, 5}
s2 = {1, 5, 6, 7, 8, 9}
print(s1)
print(s2)
sd1 = s1.symmetric_difference(s2)
sd2 = s2.symmetric_difference(s1)
print("Symmetric difference of s1 - s2: ")
print(sd1)
print("Symmetric difference of s2 - s1: ")
print(sd2)

#### Ques 6.Write a Python program to construct the following pattern, using a nested for loop.
#### * 
#### * * 
#### * * * 
#### * * * * 
#### * * * * * 
#### * * * * 
#### * * * 
#### * * 
#### *

In [17]:
n = 5
for i in range(n):
    print('* ' * i)
for j in range(n,0,-1):
    print('* ' * j)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#### Ques 7. Write a Python program to get the Fibonacci series between 0 to 50.

In [1]:
x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34